@font-face {
    font-family: Gotham-Medium;
    src: url('./assets/fonts/Gotham Medium.otf');
}

@font-face {
    font-family: Gotham-Light;
    src: url('./assets/fonts/Gotham Light.otf');
}

@font-face {
    font-family: Gotham-Book;
    src: url('./assets/fonts/Gotham Book.otf');
}

.navbar{
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    font-family: 'Gotham-Medium';
}

.header-message{
    color: #002868;
    font-weight: bold;
}

.header-guarantees{
    font-size: 15px
}

.main-scope{
    padding-left: 10%;
    padding-right: 10%;
    background:#032c6b;
    background: radial-gradient(60% 90% at bottom, rgba(43,166,224,1), rgba(3,44,107,1) 70%);
    padding-bottom: 15%;
    color: white;
    height: 800px;
}

.input-form{
    width: 50%;
    padding-top: 40px;
    padding-bottom: 20px;
    float: left;
    font-size: 18px;
}

.review-section{
    font-family: 'Gotham-Book';
    font-size: 18px;
    float: right;
    width: 50%;
}

.review-item{
    text-align: center;
    padding-top: 20px;
}

.review-img img{
    display: block;
    margin: 0 auto;
    height: 85px;
    padding-bottom: 5px;
}

.review-img{
    float: left;
    padding-right: 30px;
    width: 150px;
}

.review-details{
    text-align: left;
}

.lawyer-name{
    font-family: 'Gotham-Medium';
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
}

.lawyer-loc{
    font-family: 'Gotham-Medium';
    font-size: 15px;
    color: #dadada;
    width: 100%;
}

.law-category{
    font-family: 'Gotham-Medium';
    font-weight: bold;
    padding-right: 30px;
}

.review-text{
    font-family: 'Gotham-Book';
    font-style: italic;
    padding-top: 15px;
}

.read-review{
    float: right;
    font-family: Gotham-Book;
    color: #fbd243
}

.read-review img{
    height: 15px;
    padding-left: 5px;
}

.read-review span:hover{
    color: #ffe78e;
    text-decoration: none;
    cursor: pointer;
}

.user-input{
    position: relative;
}

.user-input input{
    border-radius: 40px;
    height: 70px;
    width: 60%;
    display: block;
    box-sizing: border-box;
    border: none;
    padding-left: 5rem;
    font-family: 'Gotham-Book';
    font-weight: bold;
    font-size: 15px;
}

.user-input div{
    position: absolute;
    top: 17px;
    left: 2%;
}

.user-input select{
    border-radius: 40px;
    height: 70px;
    width: 60%;
    display: block;
    box-sizing: border-box;
    border: none;
    padding-left: 5rem;
    font-family: 'Gotham-Book';
    font-weight: bold;
    font-size: 15px;
    color: #747474
}

.selected-items{
    font-family: 'Gotham-Book';
    font-size: 15px;
    color: #747474;
}

.number-circle{
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #d68d00;
}

.flex-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 80%;
    align-content: center;
}

.footer-details{
    display: flex;
    justify-content: center;
}

.footer-links{
    font-family: 'Gotham-Book';
    font-size: 18px;
    color: #919aa2
}

.oc-modal-btn{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: Gotham-Book; font-size: 18px;
    /*input has OS specific font-family*/
    color: white;
    text-decoration: underline dotted;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 30px 10px 30px 50px;
    border: 1px solid #888;
    width: 35%;
    height: 50%;
}

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#otherCategoryList{
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
    column-count: 2;
    column-gap: 20px;
}

.other-category-list{
    overflow: hidden;
    overflow-y: scroll;
    list-style-position: inside;
}

.other-category-list li{
    font-family: 'Gotham-Book';
    font-size: '16px';
    color: #154370;
    margin-top: 7px;
    margin-bottom: 7px;
}

.review-initials{
    font-family: 'Gotham-Book';
    font-size: 25px;
    margin: 0;
}

.review-location{
    font-family: 'Gotham-Book';
    font-size: 14px;
    color: #979da3;
    margin: 0;
}